.button-link{
  display: inline-block;
  max-width: 115px;
  width: 100%;
  padding: 9px 0px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  border-radius: 6px;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}

.email-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: rgb(55, 65, 81);
  background-color: rgb(255, 255, 255);
}

.email-button:hover{
  background-color: rgb(206, 206, 206);
}

.linkedin-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  color: rgb(255, 255, 255);
  background-color: rgb(80, 147, 226);
}

.linkedin-button:hover{
  background-color: rgb(52, 98, 150);
}